//ERROR_PAGE
/******************ERROR_PAGE**********************/
.errorPage
    .row
        margin: 0
    .page_cntnt
        padding: 40px 0 70px
        text-align: center
        margin: auto
        padding: 120px 0 70px
        @media only screen and (min-width: 768px)
            padding: 190px 0 70px
        @media only screen and (min-width: 992px)
            padding: 210px 0 70px
        @media only screen and (min-width: 1441px)
            padding: 285px 0 120px

    .head_one
        font-size: 69px
        font-weight: 700
        color: $basecolor
        letter-spacing: 1px
        font-family: $fontstack1
        margin-bottom: 20px
        @media only screen and (min-width: 468px)
            font-size: 95px

    .head_two
        font-size: 14px
        font-weight: 600
        color: #696868
        margin-bottom: 30px
        letter-spacing: 1px
        @media only screen and (min-width: 468px)
            font-size: 20px
            margin-bottom: 40px

    .head_three
        font-size: 16px
        line-height: normal
        letter-spacing: 1px
        font-weight: 600
        color: #696868
        margin-bottom: 15px
        font-family: $fontstack1
        @media only screen and (min-width: 468px)
            font-size: 25px
    p
        color: #696868
        margin: 0px
        text-align: center

    .viewMore
        padding: 15px 20px
        color: #fff
        margin-top: 35px
        display: inline-block
        text-transform: uppercase
        font-weight: 500
        background: $basecolor
        border-radius: 3px
        &::before
            background: $basecolor2
