$fontstack1: 'Proxima Nova', sans-serif 
$fontstack2: 'Proxima Nova', sans-serif 

$basecolor: #979797
$basecolor2: #1C1C1C
$basecolor3: linear-gradient(90deg, #8F1A1E 0%, #B8202D 100%)

$text: #404040
$hover: #FFAE18

$black: rgb(0, 0, 0)
$white: rgb(255, 255, 255)
